/* FONTS */
@font-face {
    src: url(./fonts/montserrat-bold.otf);
    font-family: montserrat-bold;
}
@font-face {
    src: url(./fonts/montserrat-medium.otf);
    font-family: montserrat-medium;
}
@font-face {
    src: url(./fonts/montserrat-regular.otf);
    font-family: montserrat-regular;
}
@font-face {
    src: url(./fonts/montserrat-thin.otf);
    font-family: montserrat-thin;
}
/* FONTS */

/* COLORS */
:root {
    --main: #D4E4BC;
    --secondary: #F2BAC9;
    --white: #F2F2F2;
    --black: #0F0F0F;
    --footer_color: #0C0C0C;
    --text_color: #D8D8D8;
    --text_color_2: #707070;
    --background_color: #171717;
    --background_color_2: #101010;
}
/* COLORS */

/* MAIN */
*, *::before, *::after {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'montserrat-regular', sans-serif;
    background: var(--background_color);
}
/* MAIN */

/* HEADER */
header {
    position: relative;

    width: 100%;
    z-index: 1;
}
header>nav {
    text-align: center;
}
header>nav>ul {
    list-style: none;
    margin: 3em 0;
}
header>nav>ul>a {
    text-decoration: none;
    margin: 38px 0px 38px 46px;
}

header>nav>ul>a:hover>li {
    color: var(--main);
}
header>nav>ul>a:hover>li::before,
header>nav>ul>a.activated>li::before {
    width: 80%;
}

header>nav>ul>a.activated>li {
    color: var(--main);
    font-family: 'montserrat-medium', sans-serif;
}

header>nav>ul>a>li::before {
    content: "";
    display: block;

    position: absolute;
    left: 11%;
    bottom: -4px;

    width: 0;
    height: 3px;

    background: var(--main);
    border-radius: 100px;
    transition: width 300ms ease;
}

header>nav>ul>a>li {
    color: var(--text_color_2);
    transition: all .3s ease;
    display: inline-block;
    font-size: 23px;
    position: relative;
    font-family:'Segoe UI', sans-serif;
}
/* HEADER */

/* HOME */
.home>.wave__1 {
    background: url(../../public/images/home_wave_1.svg), center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 79%;
    height: 40em;

    position: absolute;
    top: -190px;
    left: -76px;
}

.home>.wave__2 {
    background: url(../../public/images/home_wave_2.svg), center;
    background-size: cover;

    width: 100%;
    height: 66em;

    position: absolute;
    top: 47em;
    left: 0px;
}

.home>div:not(.wave__1):not(.wave__2) {
    position: relative;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 5em;
}

.presentation>.front__image {
    background: url(../../public/images/software-engineer.svg);
    background-size: cover;

    width: 37em;
    height: 33.5em;
}

.presentation>.left {
    margin-right: 7em;
    margin-top: -1em;
}

.presentation>.left>.title {
    font-size: 49px;
    color: var(--main);
    font-family: 'montserrat-bold', sans-serif;
    margin-bottom: 1em;
}

.presentation>.left>.description {
    width: 23em;
 
    color: var(--text_color);
    font-family: "montserrat-regular", sans-serif;
    font-size: 21px;
    font-weight: normal;
}

.presentation>.left>button {
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.presentation>.left>.create {
    background-color: var(--main);
    border: 2px solid var(--main);

    font-family: 'montserrat-bold', sans-serif;
    color: var(--black);

    padding: 12px 31px 12px 31px;
    margin-right: 2em;
    margin-top: 3em;
}

.presentation>.left>.create:hover {
    background-color: #b3cb8e;
}

.presentation>.left>.join {
    border-style: solid;
    border-color: var(--secondary);
    background: none;

    color: var(--secondary);
    font-family: 'montserrat-medium', sans-serif;

    padding: 12px 28px 12px 28px;
}

.presentation>.left>.join:hover {
    background: var(--secondary);
    color: var(--black);
}

.goal {
    margin-top: 46ch;
    margin-left: 5em;
    margin-bottom: 11em;
}

.goal>.title {
    color: var(--main);
    font-family: 'montserrat-bold', sans-serif;
    font-size: 42px;

    position: relative;
    padding-bottom: 1vh;
}

.goal>.title:before {
    content: "";
    width: 10%;
    height: 6px;

    background-color: var(--main);
    position: absolute;
    bottom: -7px;
    left: 37px;
}
 
.goal>.description {
    font-size: 20px;
    color: var(--text_color);
    width: min(59ch, 92%);
    margin-top: 3em;
    text-align: justify;
}

.deeper__background {
    background: var(--background_color_2);
}

.deeper__background>.subtitle>h2 {
    background: var(--text_color_2);
    font-family: 'montserrat-bold', sans-serif;
    width: fit-content;

    padding: 11px 24px;
    border-radius: 12px;
    position: relative;
}

.deeper__background>.subtitle.pink>h2 {
    background: var(--secondary);
}

.deeper__background>.subtitle.green>h2 {
    background: var(--main);
}

.deeper__background>.subtitle>h2:last-child {
    left: 23px;
    top: -8px;
}

/* pour le subtitle à droite et l'image à gauche je t'engage à reprendre
la même méthode que pour la presentation (le display flex) */

/* HOME */

/* FOOTER */
footer {
    background-color: var(--footer_color);
    font-size: 16px;
    font-family: 'montserrat-medium', sans-serif;
    color: var(--text_color);
    
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 28px 10px;
    text-align: center;

    display: none;
}
/* FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 1205px) {
    .presentation>.left {
        margin-right: unset;
    }
}
@media screen and (max-width: 1091px) {
    .presentation {
        margin-top: 8em;
    }
    .presentation>.front__image {
        margin-top: 6em;
    }
    .home>.wave__2 {
        top: 69em;
    }
    .goal {
        margin-top: 32ch;
    }
}
@media screen and (max-width: 991px) {
    .goal {
        margin-left: 3em;
    }
}
/* END RESPONSIVE */